<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873253193606-061dckib9vna859jtmv8fi7s1aantodo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873253193606-061dckib9vna859jtmv8fi7s1aantodo</string>
	<key>API_KEY</key>
	<string>AIzaSyCfOwB6PDQj-bblCUkwGavn1J1ffg9mQ-c</string>
	<key>GCM_SENDER_ID</key>
	<string>873253193606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hazrat.quiz</string>
	<key>PROJECT_ID</key>
	<string>quizapp-ae773</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-ae773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873253193606:ios:24a466a47d2e2bc2814e07</string>
</dict>
</plist>